*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    background-color:grey;
    /* margin:auto; */
}
#container{
    max-width:900px;
    margin:0 auto;
}
#content{
    /* min-height:100vh; */
    padding:15px;
    border-radius: 8px;
    max-width:600px;
    margin:0 auto;
    margin-top:10px;
    background-color:white;
}
.span-text{
    font-size:medium;
    color:blue
}
#form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
  display:flex;
  flex-direction: column;
}
/* .text_fields {
    /* height: 40px; */
    /* width: 100%; Makes input fields responsive */
    /* border-radius: 4px; 
}*/
input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
.text_control {
    grid-column: 1 / span 2;
}
.text_control textarea{
 
   width:100%;
}
#button_container{
    display:flex;
    justify-content:flex-end;
    margin-top:20px;

}
button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
  }
  button:hover {
    background-color: blue;
    border: 2px solid black;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
  }
